<h1>TITLE</h1>
<div class="center">
<div ng-controller="TableController">
<!--     <a ng-click="openLightboxModal($index)"> -->
        <div ng-repeat="cell in cells">
            <div class="square">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            {{cell}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--     </a> -->
</div>
</div>
